!/uml/
!/model/Model_AlexNet_Epochs_1_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_0.2_Device_cuda_Author_admin_Acc_98.32_.onnx

!/model/Model_AlexNet_Epochs_3_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_0.2_Device_cuda_Author_admin_Acc_98.70_.onnx

!/model/Model_AlexNet_Epochs_5_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_0.2_Device_cuda_Author_admin_Acc_99.02_.onnx

!/model/Model_MLP_Epochs_1_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_0.2_Device_cuda_Author_admin_Acc_96.12_.onnx

!/model/Model_MLP_Epochs_3_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_0.2_Device_cuda_Author_admin_Acc_97.36_.onnx

!/model/Model_MLP_Epochs_5_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_0.2_Device_cuda_Author_admin_Acc_97.98_.onnx

!/model/Model_ResNet18_Epochs_3_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_None_Device_cuda_Author_admin_Acc_99.22_.onnx

!/model/Model_ResNet34_Epochs_5_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_None_Device_cuda_Author_admin_Acc_99.16_.onnx

!/model/Model_ViT_Epochs_5_Batch_64_Lr_0.001_Loss_CrossEntropy_Opt_Adam_Dropout_None_Device_cuda_Author_admin_Acc_94.50_.pt
!/dataset/MNIST/test_png/
!/dataset/MNIST/train_png/
！/.idea/